extends layout 

block content 
  h1 #{title}

  ul
    each genre in genres 
      li 
        p 
          a(href=genre.url) #{genre.name}
        p #{genre.description}

    else 
      li There are no genres.